<div class="flex flex-col gap-1 my-4">
  <h1>Editing shelter</h1>
  <%= render "form", shelter: @shelter %>
  <br />
  <div>
    <%= link_to "Show this shelter", @shelter %> |
    <%= link_to "Back to shelters", shelters_path %>
  </div>
</div>
