<div
  class="<%= component_class_names(
    "xt-badge rounded-full py-1 px-2 font-semibold text-sm text-gray-200 bg-gray-700 opacity-100",
    "transition-opacity hover:opacity-80": @interactive,
  ) %>"
>
  <%= content %>
</div>
