<span
  class="<%= component_class_names(
    "xt-loader absolute z-content inset-0 rounded-inherit overflow-hidden",
  ) %>"
>
  <span class="xt-spinner absolute inset-0 m-auto w-7 h-7 text-primary-500">
    <svg class="absolute" viewBox="0 0 240 240" preserveAspectRatio="xMinYMin meet">
      <circle
        class="stroke-current origin-center opacity-25"
        fill="none"
        cx="120"
        cy="120"
        r="100"
        stroke-width="30"
        stroke-dasharray="628"
        stroke-dashoffset="0"
        pathLength="628"
      />
    </svg>
    <svg viewBox="0 0 240 240">
      <circle
        class="stroke-current origin-center relativext-icon animate-xt-spinner"
        fill="none"
        cx="120"
        cy="120"
        r="100"
        stroke-width="30"
        stroke-dasharray="628"
        stroke-dashoffset="628"
        pathLength="628"
      />
    </svg>
  </span>
</span>
