<div
  class="<%= component_class_names(
    "h-80 bg-gray-800 rounded-md overflow-hidden",
  ) %>"
  data-controller="location-component loading"
  data-action="location-component:loaded->loading#stop"
  data-location="<%= @location %>"
>
  <%= render LoadingOverlayComponent.new(
    class: "h-full w-full",
    "data-loading-target": "loader",
  ) do %>
    <div
      class="<%= component_class_name("map") %> h-full w-full"
      data-location-component-target="map"
    ></div>
  <% end %>
</div>
